.home{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    

    .vid{
        width: 100vw;
        object-fit: fill;
        position: relative;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 60px;
        width: 90%;
        .Heading{
            color: white;
            font-family: sans-serif;
            font-weight: 600;
            font-size: 27px;
            margin: 4px;
        }
        .dash{
            color: red;
            font-family: serif;
            font-weight: 900;
            font-size: 40px;
            padding-bottom: 8px;
            
        }
    }
}

.videobox{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: space-around;

    .vid{
        margin: 10px;
        width: 400px;
        border-radius: 20px;
    }

}

.section{
    padding: 40PX;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    scroll-snap-align: start;

    .heading{
        color: white;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 20px;
        margin: 20px 5px 10px 20px;
    }
    .period{
                color: red;
                font-family: serif;
                font-weight: 900;
                font-size: 40px;
                margin: 0px;
            }

    .wrapper{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;
        justify-content: space-around;
    }

}